@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.checkbox-margin {
  margin-left: 130px !important;
}

.header {
  float: right;
}

.btn_change_ava {
  position: relative;
  height: 50px;
  input {
    position: absolute;
    bottom: 0;
    border: none;
  }
}
.user_name {
  font-size: 20px;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

$gray-medium-light: #eaeaea;

body{
  font-family: FreeSans;
  padding-top: 60px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  clear: both;
}

h1{
  color: darkseagreen;
  font-weight: bold;
}

#menu{
  #logo{
    padding-top: 4px;
    margin-right: 15px;
  }
  li {
    a:hover {
      background-color: darkseagreen;
      color:#fff;
      transition: all 0.4s ease-in-out;
    }
  }
  .active{
    a{
      background-color: cadetblue;
      color:#fff;
    }
  }
}

.dropdown-menu {
  text-align: center;
  li{
    a{
      padding: 0px;
    }
  }
  .active{
    background-color: aliceblue;
  }
  .active:hover {
    cursor: not-allowed;
  }
}

#dashboard-title{
  background-color: darkseagreen;
  color:#fff;
}

.users {
  list-style: none;
  margin: 0;
  text-align: center;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

#myCarousel{
  height: 550px;
  width: 100%;
  .carousel-inner{
    .item{
      img{
        width: 100%;
        height: 550px;
      }
    }
  }
}

.btnSearch{
  vertical-align: super !important;
}

.btnSearch:hover{
  background-color: darkslateblue;
  color: #fff;
  transition: all 0.4s ease-in-out;
}

.btn-follow {
  width: 150px;
}

.question {
  margin-top: 20px;
  margin-bottom: 10px;
}

.answers {
  padding-left: 20px;
}

.font-weight-normal {
  font-weight: normal;
}

.btn-nav {
  padding: 30px 0;
}
.paginate{
  text-align: center;
}

.pnl-word{
  border-color: #BBBBBB;
}

#answer-form{
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

#add-answer{
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  text-decoration: none;
}

#add-answer:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  text-decoration: none;
}

#alert-error{
  list-style-type: none;
  margin-right: 40px;
}

.show-score {
  color: blue;
  font-weight: bold;
  font-size: 1.5em;
}

.paginate{
  text-align: center;
}

.pnl-word{
  border-color: #BBBBBB;
}

#answer-form{
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

#add-answer{
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  text-decoration: none;
}

#add-answer:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  text-decoration: none;
}

#alert-error{
  list-style-type: none;
  margin-right: 40px;
}

.modal-button{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.modal-button .btnSearch {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.modal-export .btnSearch{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.modal-export .btnSearch:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media(max-width: 767px){
  #menu{
    #logo{
      margin: 0 0 0 45px;
    }
  }
}
